### Ignore Everything ###
**

### Whitelist Project ###
## Maven Build
!pom.xml
!lombok.config
!**/pom.xml
!api/src/
!cli/src/

## API Server
!server/Pipfile
!server/Pipfile.lock
!server/pipenv-requirements.txt
!server/tox.ini
!server/src
!server/docker
