# Prevent inheritance of lombok configurations from parent directories
config.stopBubbling = true

# Remove constructor parameter names
lombok.anyConstructor.suppressConstructorProperties = true

# Remove @Generated annotation
lombok.addGeneratedAnnotation = false

# Fluent accessors by default
lombok.accessors.fluent = true